<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Error 404 - Page Not Found!</title>
</head>

<body>
    <div class="container">
        <h1 style="text-align: center;">PAGE IS NOT FOUND</h1>
        <br />
        <h1 style="text-align: center;">404</h1>
        <a style="text-align: center;" class="buton" href="www.github.com/habilyadigar">Habil Yadigar</a>
    </div>
</body>

</html>