<!DOCTYPE html>
<html lang="en">

<head>

    {{!-- BOOTSTRAP --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {{!-- BOOTSTRAP --}}

    <link rel="stylesheet" href="css/style.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>


<body>

    <img src="img/weather.jpg" />

    {{>header}}
    <br />
    <form id='search-form' class="form-inline">
        <input id="search" class="form-control mr-sm-2" type="search" placeholder="Find Location" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br />
    <h3 style="padding-top : 20px" id="p1"></h3>
    <br />
    {{icon}}
    <br />
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Temperature</th>
                <th scope="col" id="temp"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Description</td>
                <td id="desc"></td>
            </tr>
            <tr>
                <td>Wind Speed</td>
                <td id="windSpeed"></td>
            </tr>
            <tr>
                <td>Feels Like</td>
                <td id="feels"></td>
            </tr>
            <tr>
                <td>UV Index</td>
                <td id="UV"></td>
            </tr>
            <tr>
                <td>Visibility</td>
                <td id="visi"></td>
            </tr>
        </tbody>
    </table>






    <script src="js/script.js"></script>
</body>




</html>